spring:
  application:
    name: expense-service
  datasource:
    url: jdbc:postgresql://localhost:5432/expense_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    jpa:
      hibernate:
        ddl-auto: update
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
