spring:
  application:
    name: expense-service
  datasource:
    url: jdbc:postgresql://localhost:5432/expense_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  sql:
    init:
      mode: never #ALWAYS run schema.sql on startup
      schema-locations: classpath:schema.sql
jwt:
  secret: your-very-long-secret-key-that-is-at-least-256-bits-long-for-hs256
  expiration: 86400000

server:
  port: 8080